<div class="row">
	<div class="col-xl-12">
		<!--begin:: Widgets/Best Sellers-->
		<m-portlet>
			<!-- use ng-container[mPortletHeadTitle] for the title -->
			<ng-container mPortletHeadTitle>
				<div class="m-portlet__head-title">
					<h3 class="m-portlet__head-text">
						My Orders
					</h3>
				</div>
			</ng-container>

			<!-- use ng-container[mPortletBody] for the body content -->
			<ng-container mPortletBody>
				<!--begin::m-widget5-->
				<div class="m-widget5">
					<div class="m-widget5__item" *ngFor="let property of orders | async">
						<div class="m-widget5__content">
							<div class="m-widget5__pic">
								<img class="m-widget7__img" src="assets/app/media/img/orders/order6.jpg" alt="">
							</div>
							<div class="m-widget5__section">
								<h4 class="m-widget5__title">
									{{property.name}}
								</h4>
								<span class="m-widget5__desc">
									{{property.address.street}} {{property.address.number}}, {{property.address.zip}} {{property.address.town}} {{property.address.country}}<br />
									{{property.description}}
								</span>
								<div class="m-widget5__info">
									<span class="m-widget5__author">
										Caretaker:
									</span>
									<span class="m-widget5__info-label">
										{{property.caretaker.name}}
									</span>
									<span class="m-widget5__info-author-name">
										{{property.caretaker.email}}
									</span>
									<span class="m-widget5__info-label">
										{{property.caretaker.phone}}
									</span>
								</div>
							</div>
						</div>

						<div class="m-widget5__content">
							<div class="m-widget5__stats1">
								<span class="m-widget5__number">150</span>
								<br>
								<span class="m-widget5__sales">Appartments</span>
							</div>
							<div class="m-widget5__stats2">
								<span class="m-widget5__number">140</span>
								<br>
								<span class="m-widget5__votes">Tenants</span>
							</div>
						</div>
					</div>


				</div>
				<!--end::m-widget5-->
			</ng-container>
		</m-portlet>

		<!--end:: Widgets/Best Sellers-->
	</div>
</div>
