<m-portlet [options]="{headLarge: true, enableSticky: true}" [loading$]="loading$">

	<ng-container mPortletHeadTitle>
		<div class="m-portlet__head-title">
			<h3 class="m-portlet__head-text">
				Create
			</h3>
		</div>
	</ng-container>
	<ng-container mPortletHeadTools>
		<button type="button" (click)="goBack()" mat-raised-button matTooltip="Back to the property list">Back</button>&nbsp;
		<button mat-raised-button (click)="reset()" [disabled]="selectedTab !== 0" matTooltip="Reset changes">Reset</button>&nbsp;
    <button type="button" (click)="onSumbit()" mat-raised-button color="primary" matTooltip="Save & Continue">Save</button>
	</ng-container>
	<ng-container mPortletBody>
					<!--begin::Form-->
					<form [formGroup]="propertyForm" class="m-form m-form--group-seperator-dashed">
						<div class="m-form__section m-form__section--first">
							<div class="m-form__group">
								<div class="row">
									<div class="col-md-12 m--margin-bottom-10-mobile">
										<mat-form-field class="mat-form-field-fluid">
											<input matInput placeholder="Enter Property Name" formControlName="name">
											<mat-error>
												Name is
												<strong>required</strong>
											</mat-error>
											<mat-hint align="start">Please enter
												<strong>Name</strong>
											</mat-hint>
										</mat-form-field>
									</div>
								</div>
							</div>
              <div class="m-form__group">
                <div class="row">
                  <div class="col-md-8 m--margin-bottom-10-mobile">
                    <mat-form-field class="mat-form-field-fluid">
                      <input matInput placeholder="Enter Street Name" formControlName="street">
                      <mat-error>
                        Street is
                        <strong>required</strong>
                      </mat-error>
                      <mat-hint align="start">Please enter
                        <strong>Steet</strong>
                      </mat-hint>
                    </mat-form-field>
                  </div>
                  <div class="col-md-4 m--margin-bottom-10-mobile">
                    <mat-form-field class="mat-form-field-fluid">
                      <input matInput placeholder="Enter Number" formControlName="number">
                      <mat-error>
                        Number is
                        <strong>required</strong>
                      </mat-error>
                      <mat-hint align="start">Please enter
                        <strong>Number</strong>
                      </mat-hint>
                    </mat-form-field>
                  </div>
                </div>
              </div>

              <div class="m-form__group">
                <div class="row">
                  <div class="col-md-3 m--margin-bottom-10-mobile">
                    <mat-form-field class="mat-form-field-fluid">
                      <input matInput placeholder="Enter Zip Code" formControlName="zip">
                      <mat-error>
                        Zip Code is
                        <strong>required</strong>
                      </mat-error>
                      <mat-hint align="start">Please enter
                        <strong>Zip Code</strong>
                      </mat-hint>
                    </mat-form-field>
                  </div>
                  <div class="col-md-3 m--margin-bottom-10-mobile">
                    <mat-form-field class="mat-form-field-fluid">
                      <input matInput placeholder="Enter Town Name" formControlName="town">
                      <mat-error>
                        Town is
                        <strong>required</strong>
                      </mat-error>
                      <mat-hint align="start">Please enter
                        <strong>Town</strong>
                      </mat-hint>
                    </mat-form-field>
                  </div>
                  <div class="col-md-3 m--margin-bottom-10-mobile">
                    <mat-form-field class="mat-form-field-fluid">
                      <input matInput placeholder="Enter State" formControlName="state">
                      <mat-hint align="start">Please enter
                        <strong>state</strong>
                      </mat-hint>
                    </mat-form-field>
                  </div>
                  <div class="col-md-3 m--margin-bottom-10-mobile">
                    <mat-form-field class="mat-form-field-fluid">
                      <input matInput placeholder="Enter Country" formControlName="country">
                      <mat-error>
                        Country is
                        <strong>required</strong>
                      </mat-error>
                      <mat-hint align="start">Please enter
                        <strong>country</strong>
                      </mat-hint>
                    </mat-form-field>
                  </div>
                </div>
              </div>

              <div class="m-form__group">
                <div class="row">
                  <div class="col-md-4 m--margin-bottom-10-mobile">
                    <mat-form-field class="mat-form-field-fluid">
                      <input matInput placeholder="Enter Caretakers Name" formControlName="caretaker_name">
                    </mat-form-field>
                  </div>
                  <div class="col-md-4 m--margin-bottom-10-mobile">
                    <mat-form-field class="mat-form-field-fluid">
                      <input matInput placeholder="Enter Caretakers Phone Number" formControlName="caretaker_phone">
                    </mat-form-field>
                  </div>
                  <div class="col-md-4 m--margin-bottom-10-mobile">
                    <mat-form-field class="mat-form-field-fluid">
                      <input matInput placeholder="Enter Caretakers Email" formControlName="caretaker_email">
                    </mat-form-field>
                  </div>
                </div>
              </div>

							<div class="m-form__group">
								<div class="row">
									<div class="col-md-12 m--margin-bottom-10-mobile">
										<mat-form-field class="mat-form-field-fluid">
											<textarea matInput rows="7" placeholder="Enter Property Description" formControlName="description"></textarea>
										</mat-form-field>
									</div>
								</div>
							</div>
						</div>
					</form>
					<!--end::Form-->

	</ng-container>
</m-portlet>
